database=<%= @database %>
database.driver=<%= @driver %>
database.jdbcDriverClass=<%= @driver_class %>
database.jdbcURL=<%= @jdbc_url %>
database.password=<%= @fedora_db_pass %>
database.username=<%= @fedora_db_user %>
